.player {
    display: flex;
    padding: 2px;
    padding-bottom: 4px;
    width: 150px;
    justify-content: space-between;
}

.player.g {
    background: aqua;
}

.player.d {
    background: bisque;
}

.player.m {
    background: cyan;
}

.player.f {
    background: darksalmon;
}
